apiVersion: v1
baseDomain: ocp.lan
metadata:
  name: ocp

compute:
- name: worker
  replicas: 0

controlPlane:
  name: master
  replicas: 3

networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16

platform:
  none: {}

pullSecret: '<PASTE_PULL_SECRET_HERE>'

sshKey: |
  ssh-rsa AAAA...your_ssh_key...
